body {
    background: #F7F7F9;
    color: rgb(0, 0, 0);
    justify-items: center;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;

}
p {
    color: black;
    padding: none;
}

.topmenu, #postreview, .showRevs {
    border-radius: 5%;
    color: white;
    background: #4AB0EB;
    border: 1px solid #3269D1;
    font-size: small;
    margin: auto;
}
.topmenu:hover {
    background-color: #3269D1;
    border: 2px solid #4AB0EB;
}
#postreview {
    background: #4AB0EB;
    width: auto;
}
#topbar {
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid black;
    background: #9EBCDF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:9vh 7vh;
    grid-template-areas: 
    "webtitle mission"
    "searcharea menubar"
    ;
}


#webtitle {
    grid-area: webtitle;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#mission {
    grid-area: mission;
    font-size: x-small;
}
#searcharea {
    grid-area:searcharea;
    display: inline-block;
    justify-content: center ;
    align-content: center;
    font-size: 8px;
    
}
#search {
    margin-top: 2px;
}
#menubar {
    grid-area: menubar;
    display: inline-block;
    justify-content: center;
    align-content: center;
    margin: auto;
}

#menubar > *{
    padding-left:2px;
}

#home:hover {
    cursor: pointer;

    text-decoration: none;
}
button, select, input {
    font-size: 8px;
    width: 55px;
    height: 25px;
}

#menubar, #searcharea {
    display: flex;
    justify-content: stretch;
    padding-left: 5px; 
    padding-top: 5px;
    align-content: flex-end;
    /*this works for smallest mobile */
}

#createrest {
    width: auto;
}
#SignUp {
    width: 63px;
}

.restaurantcontainer {
    margin: auto;
    margin-bottom: 10px;
    background: #9EBCDF;
    padding: 3px;
    padding-left: 3px;;
    border: 2px solid black;
    font-size: smaller;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "photo photo"
    "name name"
    "cuisine cuisine"
    "setting setting"
    "location location"
    "hours hours"
    "website website"
    "showrevs showrevs"
    "review review";
    box-shadow: 3px 5px 9px 0px rgba(58, 58, 58, 0.75);
    border-radius: 2%;
}
.showRevs {
    grid-area: showrevs;
    justify-self: center;
}
.restaurantcontainer:nth-child(even) {
    background: rgb(158, 168, 223);
}
.photo {
    height: 130px;
    width: auto;
    grid-area: photo;
    justify-self: center;
}
.restname {
    grid-area: name;
}
.hours {
    grid-area: hours;
}
.location {
    grid-area: location;
}
.settings {
    grid-area: setting;
}
.cuisines {
    grid-area: cuisine;
}
.website {
    grid-area: website;
    justify-self: center;
}
#drop {
    /* width: 60px; */
    font-size: 8px;
}
#searchfield, #drop, #search {
    vertical-align: bottom;
}
#resultscontainer {
    justify-content: center;
    padding-top: 17vh;
}
.reviewcontainer {
    margin: auto;
    margin-bottom: 6px;
    width: 90%;
    justify-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    grid-template-areas: 
    "restaurantname restaurantname"
    "userinfo revdate"
    "rating rating"
    "body body";
    border: 2px solid black;
    background: #9EBCDF;
    box-shadow: 3px 5px 9px 0px rgba(58, 58, 58, 0.75);
    border-radius: 2%;
}
.reviewcontainer:nth-child(even){
    background: rgb(158, 168, 223);
}
.restaurantname {
    grid-area: restaurantname;
}
.userinfo {
    grid-area: userinfo;
}
.revdate {
    grid-area: revdate;
}
.revrating {
    grid-area: rating;
}
.revbody {
    grid-area: body;
    padding: 3px;
    justify-self: center;
    width: 85%;
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid black; 
    
}
#reviewbtn, .showRevs {
    width: auto;
}
.makereview {
    grid-area: review;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 60%;
    background: #9EBCDF;
    justify-self: center;
    justify-content: center;
    border: 2px solid black;    
    color: black;
    display: flex;
    padding: 5px;
    box-shadow: 3px 5px 9px 0px rgba(31, 31, 31, 0.75);
    border-radius: 2%;
}
.reviewbody {
    width:50%;
    height: auto;
}
.restaurantform {
    border: 2px solid black;
    width: 80%;
    margin: auto;
    margin-bottom: 6px;
    padding: 6px;
    justify-items: center;
    display: grid;
    background: #4AB0EB;
    grid-template-columns: repeat(1fr, 7);
    grid-template-rows: auto;
    grid-template-areas: 
    "namep createname"
    "locationp createlocation"
    "hoursp createhours"
    "webp createwebsite"
    "cuisinep settingp"
    "selectcuisine selectsetting"
    "createsubmit createsubmit";
    box-shadow: 3px 5px 9px 0px rgba(31, 31, 31, 0.75);
    border-radius: 2%;
}
#createname {
    grid-area: createname;
    width: auto;
}
#namep {
    grid-area: namep
}
#createlocation {
    grid-area: createlocation;
    width: auto;

}
#locationp {
    grid-area: locationp;
}
#createhours {
    grid-area: createhours;
    width: auto;

}
#hoursp {
    grid-area: hoursp
}
#createwebsite {
    grid-area: createwebsite;
    width: auto;

}
#webp {
    grid-area: webp;
}
#createsubmit {
    grid-area: createsubmit;
}
#cuisinep {
    grid-area: cuisinep;
}
#selectcuisine {
    grid-area: selectcuisine;
}
#settingsp {
    grid-area: settingp;
}
#selectsetting {
    grid-area: selectsetting;
}
#linecooks {
    width: 57vw;
    height: auto;
    justify-self: center;
    margin: auto;

}
#loginform, .signupcontainer {
    margin: auto;
    margin-top: 20vh;
    padding: 6px;
    display: flex;
    flex-direction: column;
    
    align-self: center;
    justify-items: center;
    width: 60%;
    height: auto;
    background: #9EBCDF;
    box-shadow: 3px 5px 9px 0px rgba(94, 94, 94, 0.75);
    border-radius: 2%;
}
#loginform > * {
    text-align: center;
}
#landing {
    padding: 6px;
    border: 1px solid black;
    border-radius: 2%;
    margin-top: 24px;
    margin: auto;
    width: 60%;
    justify-self: center;
}
.noresults {
    justify-self: center;
    margin: auto;
    text-align: center;
}
.homebtn, a {
    text-align: center;
    color: black;
}
.loginbtn, .signupbtn {
    text-align: center;
}
.oopsimg {
    display: block;
    width: 20%;
    height: auto;
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 768px) {
    /* Desktop CSS */
    #webtitle {
        font-size: 60px;
    }
    #loginform {
        margin: auto;
        margin-top: 25vh;
        padding: 6px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-items: center;
        width: 25%;
        height: auto;
        background: #9EBCDF;
        box-shadow: 3px 5px 9px 0px rgba(78, 78, 78, 0.75);
        border-radius: 2%;
    }
    #mission {
        font-size: large;
        padding-right: 60px;
    }
    #searcharea {
        grid-area:searcharea;
        display: inline-block;
        align-content: center;
        padding-left: 16px;
    }
    #menubar {
        grid-area: menubar;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        padding-right: 38px;
        box-sizing: border-box;
    }

    button, select, input {
        font-size: 15px;
        width: 70px;
        height: 32px;
    }

    #resultscontainer {
        padding-top: 18vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: none;
    }
    .reviewbody {
        width:90%;
        height: 60%;
    }
    .restaurantcontainer {
        width: 60%;
    }
    .reviewcontainer {
        width: 60%;
    }
    .restaurantform {
        border: 2px solid black;
        width: 60%;
        margin: auto;
        margin-bottom: 6px;
        padding: 6px;
        justify-items: center;
        display: grid;
        background: #4AB0EB;
        grid-template-columns: repeat(1fr, 7);
        grid-template-rows: auto;
        grid-template-areas: 
        "namep createname"
        "locationp createlocation"
        "hoursp createhours"
        "webp createwebsite"
        "cuisinep settingp"
        "selectcuisine selectsetting"
        "createsubmit createsubmit";
        box-shadow: 3px 5px 9px 0px rgba(31, 31, 31, 0.75);
        border-radius: 2%;
    }
    #topbar {
        width: 100vw;
        position: fixed;
        border-bottom: 1px solid black;
        background: #9EBCDF;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:9vh 8vh;
        grid-template-areas: 
        "webtitle mission"
        "searcharea menubar"
        ;
    }
    .restaurantcontainer {
        margin: auto;
        margin-bottom: 10px;
        background: #9EBCDF;
        padding: 6px;
        padding-left: 3px;;
        border: 2px solid black;
        font-size: smaller;
        width: 60%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "photo name"
        "photo name"
        "photo cuisine"
        "photo setting"
        "photo location"
        "hours hours"
        "website website"
        "showrevs showrevs"
        "review review";
        box-shadow: 3px 5px 9px 0px rgba(58, 58, 58, 0.75);
        border-radius: 2%;
    }
    .restaurantcontainer:nth-child(even) {
        background: rgb(158, 168, 223);
    }
    .photo {
        align-self: center;
        margin-top: 16px;
        height: auto;
        width: 250px;
        grid-area: photo;
        justify-self: center;
    }
    .hours {
        grid-area: hours;
        justify-self: center;
    }
    .reviewcontainer {
        margin: auto;
        margin-bottom: 6px;
        width: 60%;
        justify-self: center;
        justify-items: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 3fr;
        grid-template-areas: 
        "restaurantname restaurantname restaurantname"
        "userinfo rating revdate"
        "body body body";
        border: 2px solid black;
        background: #9EBCDF;
        box-shadow: 3px 5px 9px 0px rgba(58, 58, 58, 0.75);
        border-radius: 2%;
    }
    .reviewcontainer:nth-child(even){
        background: rgb(158, 168, 223);
    }
    .loginbtn, .signupbtn {
        text-align: center;
    }
   
    .signupbtn {
    text-align: center; 
    margin: 0 auto;
    display: block;
    
    }
    .oopsimg {
        display: block;
        width: 20%;
        height: auto;
        text-align: center;
        margin: auto;
    }
    
    
}
