<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
    rel="stylesheet"
    href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <title>{% block title %}Feed Feed{% endblock %}</title>
  </head>
  <body>
    <!--Make a main to hold everything or use multiple vue apps-->
    {% csrf_token %}

    <main>
      {% block content %} {% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
      Vue.component("search-bar", {
        delimiters: ["[[", "]]"],

        data: function() {
          return {
            selectedFilter: "",
            search: "",
            results: []
          };
        },

        props: [],

        template: ` 
        <div id="searcharea">
        <form id="searchform" class="form-horizontal">
          <input
            field="text"
            placeholder="Search..."
            id="searchfield"
            v-model.lazy="search"
          />
          <select class="topmenu" id="drop" v-model="selectedFilter">
            <option disable value="">Search By:</option>
            <option @change="($event)">Restaurants</option>
            <option @change="($event)">Reviews</option>
            <!-- <option @change="($event)">Cuisines</option>
        <option @change="($event)">Settings</option> -->
          </select>
          <button class="topmenu" id="search" @click.prevent="getFilter($event)">
            Search
          </button>
        </form>
      </div>`,

        methods: {
          getFilter() {
            if (this.selectedFilter == "Restaurants") {
              axios({
                method: "get",
                url: `/api/restaurants/?search=${this.search}`
              })
                .then(res => {
                  this.$emit("givesearch", res.data)
                  this.$emit("changefilter", this.selectedFilter)
                  console.log(res.data)
                }
              )
                .catch(e => console.log(e));
            } else if (this.selectedFilter == "Reviews") {
              axios({
                method: "get",
                url: `/api/reviews/?search=${this.search}`
              })
                .then(res => {
                  this.$emit("givesearch", res.data)
                  this.$emit("changefilter", this.selectedFilter)
                })
                .catch(e => alert("Oops! We had an error during the handling of your request.  Try reloading the page, or making sure you are logged in."));
            }
          }
        }
      });

      Vue.component("restaurant-detail", {
        delimiters: ["[[", "]]"],

        data: function() {
          return {
            showForm: false,
            restaurant: this.restObj.name,
            reviewresults: [],
            showreviewlist: false,

          };
        },

        props: ["rest-obj", ],

        template: 
        `
        <div>
          <div class="restaurantcontainer">
            <img class="restaurantdetails photo" :src='restObj.photo'/>
            <h3 class="restaurantdetails restname"> [[restObj.name]] </h3>
            <p class="restaurantdetails avg" v-if="restObj.avg_rating"> Average Reviewer Score: [[restObj.avg_rating]] / 5</p>
            <p class="restaurantdetails avg" v-else> No reviews for [[restObj.name]] yet.</p>
            <p class="restaurantdetails hours"> [[restObj.hours]] </p>
            <p class="restaurantdetails location"> <a :href="'https://www.google.com/maps/place/' + [[restObj.location]]" >[[restObj.location]] </a> </p>
            <p class="restaurantdetails website"><a :href='restObj.website'> site link</a> <button @click.prevent="sendevent()" id="reviewbtn" class="topmenu"> Review [[restObj.name]]  </button> </p>
            <p class="restaurauntdetails settings" :restObj="settingstring" v-if="settingstring.length > 0">Great for: [[settingstring]] </p>
            <p class="restaurantdetails settings" v-else>No setting information currently available. </p>
            <p class="restaurantdetails cuisines" :restObj="cuisinestring" v-if="cuisinestring.length > 0"> Cuisines: [[cuisinestring]] </p>
            <p class="restaurantdetails cuisines" v-else>No cuisine information currently available. </p>
            <review-form v-on:click="showForm = showForm" v-if="showForm" :restaurant="restObj"></review-form>
            <button class="showRevs topmenu" @click.prevent="showreviews($event)">Reviews about [[restObj.name]]</button>
          </div>
          <div v-if="showreviewlist">
            <h3 style="text-align: center">Reviews related to [[restObj.name]]</h3>
            <review-detail v-for="review in reviewresults" v-bind:rev-obj="review"></review-detail>
            <p v-if="reviewresults.length == 0" class="noresults">There are currently no reviews for [[restObj.name]].</p>
          </div>
        </div>

          `,
        computed: {
          //these computed properties are used during restaurant detail rendering.  They manipulate the array of objects for settings and cuisines and return a human readable string for better presentation and legibility.
          settingstring: function() {
            let stringed = ""; //initializing a dummy string to use in data manipulation
            this.restObj.setting_info.forEach(element => {
              stringed += element.options + ", "; //adding the value of each option to the string
            });

            let strlen = stringed.length;

            stringed = stringed.slice(0, strlen - 2); //removing the last two characters based on the length of the string

            return stringed; //returing the proper variable, but redifined as the string version of the list
          },
          cuisinestring: function() {
            let stringed = "";
            this.restObj.cuisine_info.forEach(element => {
              stringed += element.options + ", ";
            });

            let strlen = stringed.length;

            stringed = stringed.slice(0, strlen - 2);

            return stringed;
          }
        },
        methods: {
          sendevent() {
            (this.showForm = !this.showForm);
          },
          showreviews() {
            this.showreviewlist= !this.showreviewlist
            axios({
              method: "get",
              url: `/api/reviews/?search=${this.restObj.name}`
            }).then( 
                res => {
                  this.reviewresults = res.data;
              })
          }
        }
      });
      Vue.component("review-detail", {
        delimiters: ["[[", "]]"],

        props: ["rev-obj"], //this will be revObj in the template
        methods: {
          fixtime(x) {
            return moment(x).format('MM-DD-YYYY')
          }
        },
        template: `
        <div class="reviewcontainer">
          <h3 class="reviewdetail restaurantname"> [[revObj.restaurant_info.name]] </h3>
          <p class="reviewdetail userinfo"> <b>[[revObj.author_info.username]]</b> : [[revObj.author_info.role]]</p>
          <p class="reviewdetail revdate"> [[fixtime(revObj.created)]] </p>
          <p class="reviewdetail revrating"><b> [[revObj.rating]] Stars </b></p>
          <p class="reviewdetail revbody"> [[revObj.body]] </p>
        </div>
        `,
        
      });

      Vue.component("review-form", {
        delimiters: ["[[", "]]"],

        data: function() {
          return {
            csrf_token: "",
            currentuser: "",
            reviewbody: "",
            reviewrating: ""
          };
        },

        props: ["author", "restaurant"], //this will likely need a restaurant object so that each button will know that it is a review for that specific restaurant
            // <p> [[currentuser.username]]  </p>
            // <p> [[restaurant.name]] </p>
            // <input type="textarea" placeholder="Write your review here." class="reviewbody" v-model="reviewbody">

        template: `
        <div class="makereview" >
          <form> 
            <textarea class="reviewbody" v-model="reviewbody" placeholder="Write your review here"></textarea>
            <select name="rating" v-model="reviewrating">
              <option disable value=""> Rating </option>
              <option value="1">Poor</option>
              <option value="2">Decent </option>
              <option value="3">Good </option>
              <option value="4">Great </option>
              <option value="5">Excellent</option>
            </select>
            <input type="submit" value="submit" @click.prevent="postreview()" id="postreview">
          </form>
        </div>
        `,

        methods: {
          postreview() {
            axios({
              method: "post",
              url: "/api/reviews/",
              data: {
                // csrf_token: this.csrf_token,
                author: this.currentuser.id,
                restaurant: this.restaurant.id,
                body: this.reviewbody,
                rating: this.reviewrating,
              },
              headers: {
                "X-CSRFToken": this.csrf_token
              }
            }).then(x => {
              if (x.status == "201") {
                alert("Review Successfully posted");
              }
              else if (x.status == "403") {
                alert(
                  "You made a forbidden request.  In order to make a review you must first become an approved user");
              } 
              else {
                alert(
                  "Oops... Something went wrong.  Make sure you are logged in on an approved account.");
              }
            }).catch(error => alert("Oops! We had an error during the handling of your request.  Try reloading the page, or making sure you are logged in."));
          }
        },

        mounted: function() {
          axios({
            method: "get",
            url: "/api/currentuser"
          })
            .then(res =>
              (this.currentuser = res.data)
            )
            .catch(error => console.log(error));
          this.csrf_token = document.querySelector(
            "input[name=csrfmiddlewaretoken]"
          ).value;
        }
      });

      Vue.component("restaurant-create", {
        delimiters: ["[[", "]]"],

        data: function() {
          return {
            // restaurantform: false,
            csrf_token: "",
            name: "",
            location: "",
            hours: "",
            website: "",
            restaurantsetting: [],
            restaurantcuisine: []
          };
        },

        template: `
        <div class="createcontainer">
          <form class="restaurantform">
            <p id="namep">Restaurant Name </p>
            <input type="text" placeholder="Required" v-model="name" id="createname">
            <p id="locationp">Location of the restaurant</p>
            <input type="text" placeholder="Optional" v-model="location" id="createlocation">
            <p id="hoursp">Hours of the restaurant</p>
            <input type="text" placeholder="Optional" v-model="hours" id="createhours">
            <p id="webp">Website for the restaurant</p>
            <input type="url" placeholder="Optional" v-model="website" id="createwebsite">
            <p id="cuisinep">Select a cuisine:</p>
            <select v-model="restaurantcuisine" id="selectcuisine">
              <option v-for="cuisine in restaurantcuisine" :value="cuisine.element.id">
                [[cuisine.element.options]]
              </option> 
            </select>
            <p id="settingsp"> Great for this:</p>
            <select v-model="restaurantsetting" id="selectsetting">
              <option v-for="setting in restaurantsetting" :value="setting.element.id" >
                [[setting.element.options]]
              </option>
            </select>
            <input type="submit" value="sumbit" @click.prevent="postrestaurant()" id="createsubmit">
          </form>
        </div>
        `,

        methods: {
          //method to make a post request to submit a new restaurant to the api.
          postrestaurant() {
              axios({
                method: "post",
                url: "/api/restaurants/",
                data: {
                  name: this.name,
                  location: this.location,
                  hours: this.hours,
                  website: this.website,
                  photo: null, //only admin can add photos
                  cuisines: [this.restaurantcuisine], //must be an array type
                  settings: [this.restaurantsetting] //must be an array type
                },
                headers: {
                  "X-CSRFToken": this.csrf_token //sending token with post call for authentication
                }
              }).then(res => {
                //subission alerts.  Informs users of success or failure
                if (res.status == "201") {
                  alert(
                    "Restaurant Submission Successful! Thank You for helping the community with your submission. "
                  );
                } else if (res.status == "403") {
                  alert(
                    "In order to submit a restaurant you must first be approved."
                  );
                } else {
                  alert(
                    "Sorry! Your restaurant submission failed to complete.  Check that you are logged into an approved account and try again."
                  );
                }
              }).catch(e => alert("Oops! We had an error during the handling of your request.  Try reloading the page, or making sure you are logged in."))
          }
        },

        //mounted function below pull the list of cuisines and settings from the API and creates a local object storing them in componenet data.  This object is used to populate options for cuisines and settings in the restaurant submittal form.
        mounted: function() {
          axios({
            method: "get",
            url: "http://localhost:8000/api/cuisines/"
          }).then(response => {
            response.data.forEach(element => {
              this.restaurantcuisine.push({ element });
            });
          });
          axios({
            method: "get",
            url: "http://localhost:8000/api/settings/"
          }).then(response => {
            response.data.forEach(element => {
              this.restaurantsetting.push({ element });
            });
          });
          this.csrf_token = document.querySelector(
            "input[name=csrfmiddlewaretoken]"
          ).value;
        }
      });
    </script>
    {% block script %} {% endblock %}
  </body>
</html>
