<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <title>{% block title %}Feed Feed{% endblock %}</title>
  </head>
  <body>
    <!--Make a main to hold everything or use multiple vue apps-->
    
    <main>
      {% block content %} {% endblock %}
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
      Vue.component('search-bar',{
        delimiters: ["[[", "]]"],

        data: function(){
          return {
            selectedFilter:"",
            search:"",
            results: [],
          }
        },
        props: [],
        template: 
        ` <div id="searcharea">
        <form id="searchform">
          <input
            field="text"
            placeholder="Search..."
            id="searchfield"
            v-model.lazy="search"
          />
          <select class="topmenu" id="drop" v-model="selectedFilter">
            <option disable value="">Search By:</option>
            <option @change="($event)">Restaurants</option>
            <option @change="($event)">Reviews</option>
            <!-- <option @change="($event)">Cuisines</option>
        <option @change="($event)">Settings</option> -->
          </select>
          <button
            class="topmenu"
            id="search"
            @click.prevent="getFilter($event)"
          >
            Search
          </button>
        </form>
      </div>`,
      methods: {
          getFilter() {
            if (this.selectedFilter == "Restaurants") {
              console.log("This is working!");
              axios({
                method: "get",
                url: `/api/restaurants/?search=${this.search}`
              })
                .then(res => this.$emit("givesearch",res.data))
            } else if (this.selectedFilter == "Reviews") {
              axios({
                method: "get",
                url: `/api/reviews/?search=${this.search}`
              }).then(res => this.results.push(res.data));
            }
          }
        }
      });

      Vue.component("restaurant-detail", { 
        delimiters: ["[[", "]]"],

        data: function() {
          return {
            // name: "",
            // cuisines: "",
            // settings: "",
            // hours: "",
            // location: "",
            // website: "",
            // photo: "",
            // rating: "",
          }
        },
        props: [
          "rest-obj"
        ],

        template: 
          `
          <div class="restaurantcontainer">
            <img class="restaurantdetails photo" :src='restObj.photo'/>
            <h3 class="restaurantdetails restname"> [[restObj.name]] </h3>
            <p class="restaurantdetails hours"> [[restObj.hours]] </p>
            <p class="restaurantdetails location"> [[restObj.location]] </p>
            <p class="restaurantdetails website"><a :href='restObj.website'> site link</a></p>
            <p class="restaurauntdetails settings" :restObj="settingstring" v-if="restObj.setting_info">Great for: [[restObj.setting_info]] </p>
            <p class="restaurantdetails cuisines" :restObj="cuisinestring">Cuisines: [[restObj.cuisine_info]] </p>
          </div>

          `,
          computed: { //these computed properties are used during restaurant detail rendering.  They manipulate the array of objects for settings and cuisines and return a human readable string for better presentation and legibility.
            settingstring: function(x) {
              console.log(x.restObj.setting_info)
              let stringed = ""; //initializing a dummy string to use in data manipulation
              x.restObj.setting_info.forEach(element => { 
                stringed += element.options + ", " //adding the value of each option to the string
                });
                let strlen = stringed.length;
                console.log(strlen);
                stringed = stringed.slice(0,strlen-2); //removing the last two characters based on the length of the string
              
                console.log(stringed)
              x.restObj.setting_info = stringed //returing the proper variable, but redifined as the string version of the list
              },
            cuisinestring: function(x) {
              console.log(x.restObj.cuisine_info)
              let stringed = "";
              x.restObj.cuisine_info.forEach(element => { 
                stringed += element.options + ", "
                });
                let strlen = stringed.length;
                console.log(strlen);
                stringed = stringed.slice(0,strlen-2);
              
                console.log(stringed)
              x.restObj.cuisine_info = stringed
              }
            }
          }

      )

      
    </script>
    {% block script %} {% endblock %}
  </body>
</html>
