<!-- templates/home.html -->
{% extends 'base.html' %} {% block title %}Home{% endblock %} 
{% block content%} 
{% if user.is_authenticated %} 
{% else %}
{% endif %}
<div id="main">
  <div id="topbar">
    <h1 id="webtitle"><a href="{% url 'home' %}" id="home">FEED.ME</a></h1>
    <p id="mission">Food reviews from professionals for everyone</p>
    {% if user.is_authenticated %}
    
    <div id="menubar">
      <a href="{% url 'logout' %}">
        <button class="topmenu" id="login">Logout</button>
      </a>  
        <button class="topmenu" id="createrest" @click="restaurantform= !restaurantform">New Restaurant</button>
    </div>
    {% else %}
    <div id="menubar">
      <a href="{% url 'login' %}">
        <button class="topmenu" id="login">Login</button></a>
      <a href="{% url 'signup' %}">
        <button class="topmenu" id="SignUp">Sign Up</button>
      </a>
    </div>
    {% endif %}
    <search-bar v-on:givesearch="getFilter" v-on:changefilter="selectedFilter = $event"></search-bar>
  </div>

  <div id="resultscontainer">
    <div id="landing" v-if="!selectedFilter" v-show="!restaurantform">
      <p>Feed.Me is a restaurant review forum made to serve the people who know dining best.  Reviews should be professional, clear, and honest.  Sign up and take the approval quiz for to gain the ability to Review and submit new Restaurants.  Search Restaurants by Name, Location, Cuisines and Settings. Search Reviews by Keywords, Restaurant, or Rating.  </p>
      <img src="media/images/linecooks.jpg" id="linecooks">
    </div>
    <restaurant-create v-if="restaurantform"></restaurant-create>
    <div v-if="selectedFilter == 'Restaurants'">
      <div v-for="x in results" >
        <restaurant-detail  :rest-obj="x"></restaurant-detail>
 
      </div>
    </div>
    
    <div v-if="selectedFilter == 'Reviews'"> 
      <review-detail  v-for="x in results" :rev-obj="x"></review-detail>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>

{% endblock %}

{% block script %}



<script>

let vm = new Vue({
  el: "#main",
  delimiters: ["[[", "]]"],
  data: {
    csrf_token: "", //authentication
    // restaurants: { 
    //   name: "",
    //   photo: "",
    //   hours: "",
    //   location: "",
    //   website: "",
    //   rating: "",
    //   cuisines: "",
    //   settings: "",
    // },

    // reviews: {
    //   author: "",
    //   rating: "",
    //   body: "",
    //   restaurant: "",
    //   created: "",
    // },
    
    search: "", //for input text in search menu
    selectedFilter: "",
    results: [],
    reviewForm: false,
    restaurantform: false,
    showreviewlist: false,
  },
  methods: {
    getFilter(e) {
      this.results = e;
    },

    reviewpayload(restaurant) {
      this.reviewForm = true;
    },

    newrestaurant() {
      // this.restaurantform = !this.restaurantform;
      console.log("hello wiley")
      
    }
  },
});


</script>

{% endblock %}